@font-face {
  font-family: 'PFDinTextCondProBold';
  src: url('fonts/bold/PFDinTextCondProBold.eot');
  src: url('fonts/bold/PFDinTextCondProBold.eot') format('embedded-opentype'), url('fonts/bold/PFDinTextCondProBold.woff2') format('woff2'), url('fonts/bold/PFDinTextCondProBold.woff') format('woff'), url('fonts/bold/PFDinTextCondProBold.ttf') format('truetype'), url('fonts/bold/PFDinTextCondProBold.svg#PFDinTextCondProBold') format('svg');
}
@font-face {
  font-family: 'PFDinTextCondProMedium';
  src: url('fonts/medium/PFDinTextCondProMedium.eot');
  src: url('fonts/medium/PFDinTextCondProMedium.eot') format('embedded-opentype'), url('fonts/medium/PFDinTextCondProMedium.woff2') format('woff2'), url('fonts/medium/PFDinTextCondProMedium.woff') format('woff'), url('fonts/medium/PFDinTextCondProMedium.ttf') format('truetype'), url('fonts/medium/PFDinTextCondProMedium.svg#PFDinTextCondProMedium') format('svg');
}
@font-face {
  font-family: 'PFDinTextCondProLight';
  src: url('fonts/light/PFDinTextCondProLight.eot');
  src: url('fonts/light/PFDinTextCondProLight.eot') format('embedded-opentype'), url('fonts/light/PFDinTextCondProLight.woff2') format('woff2'), url('fonts/light/PFDinTextCondProLight.woff') format('woff'), url('fonts/light/PFDinTextCondProLight.ttf') format('truetype'), url('fonts/light/PFDinTextCondProLight.svg#PFDinTextCondProMedium') format('svg');
}
.bold {
  font-family: "PFDinTextCondProBold", serif;
}
.med {
  font-family: "PFDinTextCondProMedium", serif;
}
.light {
  font-family: "PFDinTextCondProLight", serif;
}
/*======================    БАЗОВЫЕ НАСТРОЙКИ   ====================*/
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
.section_header h2 {
  text-transform: uppercase;
  color: #666666;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
}
button:focus {
  outline: none;
}
/*=========================    Шапка    =========================*/
header {
  padding-top: 25px;
  padding-bottom: 20px;
  color: #666666;
  height: 110px;
}
header .descript h4 {
  font-family: "PFDinTextCondProMedium", serif;
  font-family: "PFDinTextCondProMedium", serif;
  text-transform: uppercase;
}
header .descript h5 {
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  font-size: 15px;
}
header .phone_number {
  text-align: right;
}
header .phone_number h3 {
  margin-top: 7px;
}
header .phone_number p {
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
}
header .phone_number a {
  font-size: 25px;
  font-family: "PFDinTextCondProMedium", serif;
  font-family: "PFDinTextCondProMedium", serif;
  color: #666666;
  display: inline-block;
}
header .phone_number a:hover {
  text-decoration: none;
}
header .phone_number a:before {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/icon/phone_icon20x20.png) no-repeat center;
  display: inline-block;
}
/*===================   НАВИГАЦИЯ    ==================*/
nav {
  background-color: #fafdfa;
  margin-bottom: -60px;
}
nav ul.list-inline a {
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 4px;
  padding: 10px 10px;
  color: #666666;
  -moz-transition: all 0.1s 0.02s ease;
  -o-transition: all 0.1s 0.02s ease;
  -webkit-transition: all 0.1s 0.02s ease;
}
nav ul.list-inline a:hover {
  text-decoration: none;
  background-color: #67cc67;
  color: #fff;
}
nav ul.list-inline {
  margin-bottom: 0;
}
/*==================    ГЛАВНЫЙ ЭКРАН    ==================*/
section#main-2 .main_buttons {
  padding-top: 7px;
  margin-bottom: 100px;
}
section#main-2 .main_buttons button#come_back {
  border: 2px solid #67cc67;
  background-color: #67cc67;
  padding: 17px 35px;
  color: #fff;
  font-size: 20px;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  text-transform: uppercase;
}
section#main-2 .main_buttons button#come_back:hover {
  color: #0f0f0f;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #67cc67;
}
section#main {
  background: url(../img/main_bg.jpg) no-repeat center;
  background-size: cover;
  margin-top: 60px;
}
section#main .thanks {
  margin-top: 50px;
}
section#main .main-text {
  margin-top: 15px;
  background: #666666;
}
section#main .main_header h1 {
  margin-top: 100px;
  margin-bottom: 90px;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  color: #0f0f0f;
  text-transform: uppercase;
  font-size: 30px;
}
section#main .main_header h1 span {
  background-color: #67cc67;
  padding: 4px;
  line-height: 40px;
}
section#main h3 {
  text-transform: uppercase;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  color: #0f0f0f;
}
section#main h3 span {
  background-color: #67cc67;
  color: #0f0f0f;
}
section#main .main_buttons {
  padding-top: 7px;
  margin-bottom: 100px;
}
section#main .main_buttons button#get_measurer {
  border: none;
  background-color: #67cc67;
  padding: 17px 35px;
  color: #fff;
  font-size: 20px;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  text-transform: uppercase;
}
section#main .main_buttons button#get_measurer:hover {
  color: #0f0f0f;
  background-color: rgba(255, 255, 255, 0.8);
}
section#main .main_buttons button#get_product {
  border: none;
  background-color: #67cc67;
  padding: 17px 33px;
  color: #fff;
  font-size: 20px;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  text-transform: uppercase;
  margin-left: 20px;
}
section#main .main_buttons button#get_product:hover {
  color: #0f0f0f;
  background-color: rgba(255, 255, 255, 0.8);
}
/*==================    НАША ПРОДУКЦИЯ    ================*/
section#types {
  padding-top: 50px;
  color: #666666;
}
section#types .section_header {
  margin-bottom: 50px;
}
section#types h4 {
  margin-top: 25px;
  text-transform: uppercase;
  font-family: "PFDinTextCondProMedium", serif;
  font-family: "PFDinTextCondProMedium", serif;
}
section#types button.more_btn {
  border: 2px solid #66cc66;
  padding: 10px 27px;
  background-color: #66cc66;
  text-transform: uppercase;
  color: #fff;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  -moz-transition: all 0.1s 0.02s ease;
  -o-transition: all 0.1s 0.02s ease;
  -webkit-transition: all 0.1s 0.02s ease;
}
section#types button.more_btn:hover {
  background-color: transparent;
  color: #66cc66;
}
section#types button.offer_btn {
  border: 2px solid #66cc66;
  padding: 10px 27px;
  background-color: #66cc66;
  text-transform: uppercase;
  color: #fff;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  -moz-transition: all 0.1s 0.02s ease;
  -o-transition: all 0.1s 0.02s ease;
  -webkit-transition: all 0.1s 0.02s ease;
}
section#types button.offer_btn:hover {
  background-color: transparent;
  color: #66cc66;
}
section#types .card {
  -moz-transition: all 0.1s 0.02s ease;
  -o-transition: all 0.1s 0.02s ease;
  -webkit-transition: all 0.1s 0.02s ease;
  padding: 5px;
  border: 2px solid transparent;
}
section#types .card:hover {
  background-color: #fdfafd;
  border: 2px solid #b2e5b2;
}
/*==================    БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ    =================*/
section#help {
  padding-top: 65px;
  padding-bottom: 50px;
}
section#help h3 {
  color: black;
  text-transform: uppercase;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
}
section#help p {
  color: #666666;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  font-size: 18px;
}
section#help img {
  margin-top: 25px;
}
section#help button#free_consult {
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  text-transform: uppercase;
  background-color: #67cc67;
  color: #fff;
  border: 2px solid #67cc67;
  padding: 15px 35px;
}
section#help button#free_consult:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #67cc67;
}
/*=====================    АКЦИЯ    =======================*/
section#offer {
  padding-top: 70px;
}
section#offer h4 {
  font-size: 45px;
  margin-top: 25px;
  text-transform: uppercase;
  color: orangered;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
}
section#offer h3 {
  text-transform: uppercase;
  color: orangered;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
}
section#offer input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
section#offer input[name="name"] {
  background: url(../img/icon/name_input20x20.png) no-repeat left 12px;
  padding: 25px;
  padding-left: 30px;
  border: solid 1px #cccccc;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  opacity: 0.5;
}
section#offer input[name="name"]:hover, section#offer input[name="name"]:focus {
  opacity: 1;
  cursor: pointer;
}
section#offer input[name="phone"] {
  background: url(../img/icon/tel_input20x20.png) no-repeat left 12px;
  padding: 25px;
  padding-left: 30px;
  border: solid 1px #cccccc;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  opacity: 0.5;
}
section#offer input[name="phone"]:hover, section#offer input[name="phone"]:focus {
  opacity: 1;
  cursor: pointer;
}
section#offer .card-offer {
  background-color: #f8f8f8;
  padding-bottom: 50px;
}
section#offer .item {
  height: 300px;
  padding: 20px;
}
section#offer .item .photo-offer {
  margin-top: 25px;
}
section#offer .item h5 {
  margin-top: 20px;
  font-family: "PFDinTextCondProMedium", serif;
  font-family: "PFDinTextCondProMedium", serif;
  color: #666666;
  font-size: 20px;
}
section#offer .item a {
  font-family: "PFDinTextCondProMedium", serif;
  font-family: "PFDinTextCondProMedium", serif;
  font-size: 18px;
}
section#offer .item p {
  font-size: 15px;
  color: #666666;
  text-transform: uppercase;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
}
section#offer .carousel-indicators {
  bottom: -40px;
}
section#offer .carousel-indicators .active {
  background-color: orangered;
}
section#offer .carousel-indicators li {
  border: solid 1px orangered;
}
section#offer button[type="submit"] {
  background-color: orangered;
  color: #fff;
  border: 2px solid orangered;
  padding: 14px 25px;
  text-transform: uppercase;
  width: 100%;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
}
section#offer button[type="submit"]:hover {
  background-color: white;
  color: black;
}
/*=====================    ОТЗЫВЫ    ==============================*/
section#feedback {
  padding-bottom: 50px;
}
section#feedback .section_header {
  margin-bottom: 50px;
}
section#feedback .section_header h2 {
  margin-top: 50px;
}
section#feedback .item {
  border-radius: 2px;
  height: 290px;
  background-color: #f8f8f8;
  padding: 20px;
}
section#feedback .item h5 {
  margin-top: 25px;
  font-family: "PFDinTextCondProMedium", serif;
  font-family: "PFDinTextCondProMedium", serif;
  color: #666666;
  font-size: 20px;
}
section#feedback .item h2 {
  text-align: center;
  margin-top: 60px;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  color: #67cc67;
  font-size: 60px;
}
section#feedback .item h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  color: #666666;
  font-size: 25px;
}
section#feedback .item a {
  font-family: "PFDinTextCondProMedium", serif;
  font-family: "PFDinTextCondProMedium", serif;
  font-size: 18px;
}
section#feedback .item p {
  margin-top: 30px;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  font-size: 17px;
}
section#feedback .carousel-indicators {
  bottom: -50px;
}
section#feedback .carousel-indicators .active {
  background-color: #67cc67;
}
section#feedback .carousel-indicators li {
  border: solid 1px #67cc67;
}
/*=========================    ФУТЕР    =====================*/
footer {
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #666666;
  color: #fff;
}
footer h2 {
  margin-left: -16px;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  text-transform: uppercase;
}
footer address {
  margin-top: 10px;
}
footer address p#address {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
}
footer address p#address:before {
  content: '';
  width: 12px;
  height: 12px;
  background: url(../img/icon/map_marker13x13.png) no-repeat center;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
}
footer address p#address p#Grodno {
  font-size: 20px;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  margin-top: 0;
}
footer p#phone_footer {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
}
footer p#phone_footer:before {
  content: '';
  width: 12px;
  height: 12px;
  background: url(../img/icon/phone_marker13x13.png) no-repeat center;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
}
footer p#number {
  font-size: 20px;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  margin-top: 0;
}
footer .social {
  margin-top: 20px;
}
footer .social_icon {
  margin-right: 5px;
  display: inline-block;
  background-color: #cccccc;
  padding-top: 4px;
  border-radius: 50%;
  text-align: center;
  width: 37px;
  height: 37px;
}
footer .social_icon:hover {
  background-color: #fff;
}
footer button#get_answer {
  margin-left: 10px;
  background-color: transparent;
  padding: 7px 35px;
  color: #fff;
  border: 2px solid #fff;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
}
footer button#get_answer:hover {
  background-color: #fff;
  color: #666666;
}
footer .details_row {
  margin-top: 20px;
}
footer .details h5 {
  font-family: "PFDinTextCondProMedium", serif;
  font-family: "PFDinTextCondProMedium", serif;
  font-size: 20px;
}
footer .details p {
  text-transform: uppercase;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
}
footer .policy {
  text-align: center;
}
footer .policy a {
  color: #fff;
  border-bottom: 1px dashed #fff;
}
footer .suprun {
  text-align: right;
}
footer .suprun h4 {
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  text-transform: uppercase;
}
footer .suprun a {
  color: #fff;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  font-size: 18px;
}
/*===================    ВСПЛЫВАЮЩИЕ ОКНА    ===================*/
.modal-dialog {
  margin-top: 10%;
}
.big_modal {
  margin-top: 10%;
  width: 40%;
}
.header_modal h4 {
  text-transform: uppercase;
  color: #666666;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  text-align: center;
  padding: 10px;
}
.modal-header {
  margin-top: -50px;
  border-bottom: none;
}
.modal-header .close {
  text-shadow: none;
  color: #fff;
  opacity: 0.9;
  margin-right: -30px;
}
h4.modal-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
}
.modal-content {
  border-radius: 0;
}
.modal-content input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.modal-content input[name="name"] {
  margin-top: 15px;
  background: url(../img/icon/name_input20x20.png) no-repeat left 12px;
  padding: 25px;
  padding-left: 30px;
  border: solid 1px #cccccc;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  opacity: 0.5;
}
.modal-content input[name="name"]:hover, .modal-content input[name="name"]:focus {
  opacity: 1;
  cursor: pointer;
}
.modal-content input[name="phone"] {
  margin-top: 15px;
  background: url(../img/icon/tel_input20x20.png) no-repeat left 12px;
  padding: 25px;
  padding-left: 30px;
  border: solid 1px #cccccc;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  opacity: 0.5;
}
.modal-content input[name="phone"]:hover, .modal-content input[name="phone"]:focus {
  opacity: 1;
  cursor: pointer;
}
.modal-content textarea {
  width: 100%;
  margin-top: 15px;
  padding: 25px;
  padding-left: 30px;
  border: solid 1px #cccccc;
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  opacity: 0.5;
}
.modal-content textarea:hover, .modal-content textarea:focus {
  opacity: 1;
  cursor: pointer;
}
.modal-content button[type="submit"] {
  margin-top: 15px;
  background-color: #67cc67;
  color: #fff;
  border: 2px solid #67cc67;
  padding: 14px 25px;
  text-transform: uppercase;
  width: 100%;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
}
.modal-content button[type="submit"]:hover {
  color: #67cc67;
  background-color: #ffffff;
}
.modal-content p {
  font-family: "PFDinTextCondProLight", serif;
  font-family: "PFDinTextCondProLight", serif;
  font-size: 18px;
}
.modal-content p span {
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
  color: #0f0f0f;
  font-size: 24px;
}
.header_modal_info h4 {
  margin-left: 20px;
  text-transform: uppercase;
  color: #666666;
  font-family: "PFDinTextCondProBold", serif;
  font-family: "PFDinTextCondProBold", serif;
}
/*============    ШРИФТЫ    ===========*/
/*============    ПОДВАЛ    ===========*/
/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/
/*============    	АДАПТИВ    ===========*/
@font-face {
  font-family: 'PFDinTextCondProBold';
  src: url('fonts/bold/PFDinTextCondProBold.eot');
  src: url('fonts/bold/PFDinTextCondProBold.eot') format('embedded-opentype'), url('fonts/bold/PFDinTextCondProBold.woff2') format('woff2'), url('fonts/bold/PFDinTextCondProBold.woff') format('woff'), url('fonts/bold/PFDinTextCondProBold.ttf') format('truetype'), url('fonts/bold/PFDinTextCondProBold.svg#PFDinTextCondProBold') format('svg');
}
@font-face {
  font-family: 'PFDinTextCondProMedium';
  src: url('fonts/medium/PFDinTextCondProMedium.eot');
  src: url('fonts/medium/PFDinTextCondProMedium.eot') format('embedded-opentype'), url('fonts/medium/PFDinTextCondProMedium.woff2') format('woff2'), url('fonts/medium/PFDinTextCondProMedium.woff') format('woff'), url('fonts/medium/PFDinTextCondProMedium.ttf') format('truetype'), url('fonts/medium/PFDinTextCondProMedium.svg#PFDinTextCondProMedium') format('svg');
}
@font-face {
  font-family: 'PFDinTextCondProLight';
  src: url('fonts/light/PFDinTextCondProLight.eot');
  src: url('fonts/light/PFDinTextCondProLight.eot') format('embedded-opentype'), url('fonts/light/PFDinTextCondProLight.woff2') format('woff2'), url('fonts/light/PFDinTextCondProLight.woff') format('woff'), url('fonts/light/PFDinTextCondProLight.ttf') format('truetype'), url('fonts/light/PFDinTextCondProLight.svg#PFDinTextCondProMedium') format('svg');
}
.bold {
  font-family: "PFDinTextCondProBold", serif;
}
.med {
  font-family: "PFDinTextCondProMedium", serif;
}
.light {
  font-family: "PFDinTextCondProLight", serif;
}
/*============    	АДАПТИВ    ===========*/
.dropdown-toggle {
  border: 1px solid #000;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  color: #666666;
  margin-left: -10px;
}
.dropdown-toggle:hover {
  background-color: #666666;
  color: #fff;
}
.dropdown-toggle i {
  margin-top: 10px;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 320px) {
  nav {
    top: 0;
    height: 60px;
    padding-top: 5px;
  }
  nav .btn {
    font-family: "PFDinTextCondProBold", serif;
    font-family: "PFDinTextCondProBold", serif;
    margin-top: 10px;
    text-transform: uppercase;
    border: 2px solid #666666;
    margin-left: -20px;
  }
  section#main-2 .main_buttons {
    display: none;
  }
  section#main .main_header h1 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
  }
  section#main .main_header h1 span {
    line-height: 1.7;
    padding: 10px;
  }
  section#main h3 {
    font-size: 13px;
    text-align: center;
  }
  section#main .main_buttons button {
    display: block;
    margin: 0 auto;
  }
  section#main .main_buttons button#get_measurer {
    padding: 10px 20px;
    font-size: 12px;
    margin-buttom: 10px;
    margin-top: 5px;
  }
  section#main .main_buttons button#get_product {
    padding: 10px 55px;
    font-size: 12px;
    margin-buttom: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
  section#types .card {
    padding-bottom: 10px;
  }
  section#types button.more_btn {
    font-size: 12px;
  }
  section#types button.offer_btn {
    font-size: 12px;
  }
  section#help {
    background-color: #f8f8f8;
  }
  section#help button {
    display: block;
    margin: 0 auto;
  }
  section#help h3 {
    text-align: center;
  }
  section#help p {
    text-align: center;
  }
  section#help .photo-help {
    display: none;
  }
  section#offer h4 {
    font-size: 50px;
    text-align: center;
  }
  section#offer h3 {
    margin-top: -15px;
    font-size: 20px;
    text-align: center;
  }
  section#offer input {
    margin-top: 5px;
  }
  section#offer button {
    margin-top: 10px;
  }
  section#offer .item {
    text-align: center;
    height: 530px;
  }
  section#offer .item .photo-offer {
    display: none;
  }
  section#offer .item p {
    margin-top: -4px;
    font-size: 15px;
    text-align: center;
  }
  section#feedback .fotorama {
    display: none;
  }
  section#feedback .item {
    text-align: center;
    height: 400px;
  }
  section#feedback .item p {
    font-size: 14px;
  }
  section#feedback .item h2 {
    text-align: center;
    margin-top: 5px;
    font-family: "PFDinTextCondProBold", serif;
    font-family: "PFDinTextCondProBold", serif;
    color: #67cc67;
    font-size: 35px;
  }
  section#feedback .item h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: "PFDinTextCondProBold", serif;
    font-family: "PFDinTextCondProBold", serif;
    color: #666666;
    font-size: 25px;
  }
  footer {
    text-align: center;
  }
  footer .suprun {
    text-align: center;
  }
  footer button#get_answer {
    margin-top: 20px;
  }
  .big_modal {
    margin-top: 10%;
    width: 90%;
  }
  .big_modal h4 {
    font-size: 14px;
    text-align: center;
    margin-left: 0;
  }
  .big_modal p {
    font-size: 14px;
  }
  .big_modal p span {
    text-align: center;
  }
  .big_modal .modal-header {
    margin-top: -4px;
  }
  .big_modal .modal-header .close {
    text-shadow: none;
    color: #0f0f0f;
    opacity: 0.9;
    margin-right: -4px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  nav {
    top: 0;
    height: 60px;
    padding-top: 10px;
  }
  nav .btn {
    font-family: "PFDinTextCondProBold", serif;
    font-family: "PFDinTextCondProBold", serif;
    margin-top: 3px;
    text-transform: uppercase;
    border: 2px solid #666666;
  }
  section#main-2 .main_buttons {
    display: none;
  }
  section#main .main_header h1 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
  }
  section#main .main_header h1 span {
    line-height: 1.7;
    padding: 10px;
  }
  section#main h3 {
    font-size: 13px;
    text-align: center;
  }
  section#main .main_buttons button {
    display: block;
    margin: 0 auto;
  }
  section#main .main_buttons button#get_measurer {
    padding: 15px 27px;
    font-size: 14px;
    margin-buttom: 10px;
    margin-top: 5px;
  }
  section#main .main_buttons button#get_product {
    padding: 15px 68px;
    font-size: 14px;
    margin-buttom: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
  section#types .card {
    padding-bottom: 10px;
  }
  section#types button.more_btn {
    font-size: 12px;
  }
  section#types button.offer_btn {
    font-size: 12px;
  }
  section#help {
    background-color: #f8f8f8;
  }
  section#help button {
    display: block;
    margin: 0 auto;
  }
  section#help h3 {
    text-align: center;
  }
  section#help P {
    text-align: center;
  }
  section#help .photo-help {
    display: none;
  }
  section#offer h4 {
    font-size: 70px;
    text-align: center;
  }
  section#offer h3 {
    margin-top: -15px;
    text-align: center;
  }
  section#offer p {
    text-align: center;
  }
  section#offer input {
    margin-top: 5px;
  }
  section#offer button {
    margin-top: 10px;
  }
  section#offer .item {
    text-align: center;
    height: 530px;
  }
  section#offer .item .photo-offer {
    display: none;
  }
  section#offer .item p {
    font-size: 14px;
  }
  section#feedback .fotorama {
    display: none;
  }
  section#feedback .item {
    text-align: center;
    height: 400px;
  }
  section#feedback .item p {
    font-size: 14px;
  }
  section#feedback .item h2 {
    margin-top: 5px;
    font-size: 35px;
  }
  section#feedback .item h3 {
    margin-top: 10px;
    font-size: 25px;
  }
  footer {
    text-align: center;
  }
  footer .suprun {
    text-align: center;
  }
  footer button#get_answer {
    margin-top: 15px;
  }
  .big_modal {
    margin-top: 10%;
    width: 90%;
  }
  .big_modal h4 {
    font-size: 14px;
    text-align: center;
    margin-left: 0;
  }
  .big_modal p {
    font-size: 14px;
  }
  .big_modal p span {
    text-align: center;
  }
  .big_modal .modal-header {
    margin-top: -4px;
    border-bottom: none;
  }
  .big_modal .modal-header .close {
    text-shadow: none;
    color: #0f0f0f;
    opacity: 0.9;
    margin-right: -4px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  nav {
    top: 0;
    height: 60px;
    padding-top: 10px;
  }
  nav .btn {
    font-family: "PFDinTextCondProBold", serif;
    font-family: "PFDinTextCondProBold", serif;
    margin-top: 3px;
    text-transform: uppercase;
    border: 2px solid #666666;
  }
  section#main-2 .main_buttons {
    display: none;
  }
  section#main .main_header h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
  }
  section#main .main_header h1 span {
    line-height: 1.7;
    padding: 10px;
  }
  section#main h3 {
    font-size: 16px;
    text-align: center;
  }
  section#main .main_buttons button {
    display: block;
    margin: 0 auto;
  }
  section#main .main_buttons button#get_measurer {
    padding: 15px 27px;
    font-size: 14px;
    margin-buttom: 10px;
    margin-top: 5px;
  }
  section#main .main_buttons button#get_product {
    padding: 15px 68px;
    font-size: 14px;
    margin-buttom: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
  section#types .card {
    padding-bottom: 10px;
  }
  section#types button.more_btn {
    font-size: 12px;
  }
  section#types button.offer_btn {
    font-size: 12px;
  }
  section#help {
    background-color: #f8f8f8;
  }
  section#help button {
    display: block;
    margin: 0 auto;
  }
  section#help h3 {
    text-align: center;
  }
  section#help p {
    text-align: center;
  }
  section#help .photo-help {
    display: none;
  }
  section#offer h4 {
    font-size: 100px;
    text-align: center;
  }
  section#offer h3 {
    text-align: center;
  }
  section#offer p {
    text-align: center;
  }
  section#offer input {
    margin-top: 5px;
  }
  section#offer button {
    margin-top: 10px;
  }
  section#offer .item {
    text-align: center;
    height: 530px;
  }
  section#offer .item .photo-offer {
    display: none;
  }
  section#offer .item p {
    font-size: 14px;
  }
  section#feedback .fotorama {
    display: none;
  }
  section#feedback .item {
    text-align: center;
    height: 400px;
  }
  section#feedback .item p {
    font-size: 18px;
  }
  section#feedback .item h2 {
    margin-top: 5px;
    font-size: 35px;
  }
  section#feedback .item h3 {
    margin-top: 10px;
    font-size: 25px;
  }
  footer {
    text-align: center;
  }
  footer .suprun {
    text-align: center;
  }
  .big_modal {
    margin-top: 10%;
    width: 95%;
  }
  .big_modal h4 {
    font-size: 14px;
    text-align: center;
    margin-left: 0;
  }
  .big_modal p {
    font-size: 14px;
  }
  .big_modal p span {
    text-align: center;
  }
  .big_modal .modal-header {
    margin-top: -4px;
    border-bottom: none;
  }
  .big_modal .modal-header .close {
    text-shadow: none;
    color: #0f0f0f;
    opacity: 0.9;
    margin-right: -4px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  header .descript h4 {
    font-size: 16px;
  }
  header .phone_number a {
    font-size: 15px;
  }
  header ul.list-inline {
    text-align: center;
  }
  header ul.list-inline a {
    margin: 0 auto;
  }
  section#feedback .item {
    height: 250px;
  }
  section#feedback .item p {
    font-size: 15px;
  }
  section#feedback .item h2 {
    margin-top: 30px;
    font-size: 40px;
  }
  section#feedback .item h3 {
    margin-top: 20px;
    font-size: 30px;
  }
  .contacts_attr {
    padding-left: 50px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  section#feedback .item p {
    font-size: 16px;
  }
  .big_modal {
    margin-top: 10%;
    width: 95%;
  }
  .big_modal h4 {
    font-size: 14px;
    text-align: center;
    margin-left: 0;
  }
  .big_modal p {
    font-size: 16px;
  }
  .big_modal p span {
    text-align: center;
  }
}
